<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container">
        <div th:if="${order != null}">
            <h2>Add Soups</h2>
            <form th:action="@{/addSoupToOrder/{userId}(userId=${userId})}" method="post" th:object="${orderItemDto}">
                <select class="form-control" id="soupId" name="soupId" th:field="*{soupId}">
                    <option th:each="soup : ${soups}" th:value="${soup.id}" th:text="${soup.name}"></option>
                </select>
                <input type="number" name="quantity" placeholder="Quantity" required>
                <button type="submit">Add Soup</button>
            </form>


            <h1>Order Details</h1>
            <p>Order ID: <span th:text="${order.id}"></span></p>
            <p>Status: <span th:text="${order.status}"></span></p>
            <p>Order Date: <span th:text="${order.orderDate}"></span></p>

            <h2>User Information</h2>
            <p>User Name: <span th:text="${order.user.firstName}"></span> <span th:text="${order.user.lastName}"></span></p>

            <h2>Order Items</h2>
            <table>
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${order.orderItems}">
                    <td th:text="${item.soup.name}"></td>
                    <td th:text="${item.quantity}"></td>
                    <td th:text="${item.price}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:unless="${order != null}">
            <h1>Error</h1>
            <p>There was an error retrieving the order.</p>
        </div>
        </div>
    </section>
</main>
</body>
</html>