<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
>
<body>

<section layout:fragment="body" class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Soups</h2>
        <div class="d-flex mb-3"> <!-- Added d-flex class for flexbox layout -->
            <form th:action="@{/soups/search}" class="form-inline my-2 my-lg-0 mr-2" style="width: 80%;">
                <input name="query" class="form-control mr-sm-2" type="search" placeholder="Search a soup" aria-label="Search" >
            </form>
            <form id="sortForm" th:action="@{/soups/0/5/__${field}__}" method="get" class="form-inline my-2 my-lg-0">
                <select id="sortBy" name="field" class="form-select form-select-sm" onchange="updateSortAction()">
                    <option value="">Select an option</option>
                    <option value="name">Alphabetical</option>
                    <option value="price">Price: Low to High</option>
                </select>
            </form>
            <script>
                function updateSortAction() {
                    var sortBy = document.getElementById("sortBy").value;
                    document.getElementById("sortForm").action = "/soups/0/5/" + sortBy;
                    document.getElementById("sortForm").submit();
                }
            </script>

        </div>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div th:each="soup :${soups}" class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 th:text="${soup.name}" class="fw-bolder"></h5>
                            <p ><span th:text="${soup.price}"></span><span> Lei</span></p>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" th:href="@{/soups/{id}/edit(id=${soup.id})}">Edit</a>
                            <a class="btn btn-outline-dark mt-auto" th:href="@{/soups/{id}(id=${soup.id})}">View</a>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" th:href="@{/soups/0/5/__${field}__}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <!-- Iterate over the number of pages and generate pagination links -->
                <li th:each="pageNo : ${#numbers.sequence(1, totalPages)}" class="page-item">
                    <a class="page-link" th:href="@{/soups/__${(pageNo - 1)}__/5/__${field}__}" th:text="${pageNo}"></a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{/soups/__${(totalPages - 1)}__/5/__${field}__}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        <form id="pageForm" th:action="@{/soups/0/__${pageSize}__/__${field}__}" method="get" class="form-inline my-2 my-lg-0">
            <select id="pageSize" name="pageSize" class="form-select form-select-sm" onchange="updatePageSize()">
                <option value="">Page Size</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
            </select>
        </form>
        <script th:inline="javascript">
            /*<![CDATA[*/
            function updatePageSize() {
                var pageSize = document.getElementById("pageSize").value;
                var field = /*[[${field}]]*/ '';
                document.getElementById("pageForm").action = "/soups/0/" + pageSize + "/" + field;
                document.getElementById("pageForm").submit();
            }
            /*]]>*/
        </script>




    </div>
    </div>
</section>

</body>
</html>