<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <form role="form" method="post" th:action="@{/soups/create}" th:object="${soup}">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Soup Name</label>
                        <input type="text" class="form-control" id="name" name="name" th:field="*{name}" placeholder="Soup Name">
                        <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="price">Soup Price</label>
                        <input type="number" class="form-control" id="price" name="price" th:field="*{price}" placeholder="Soup Price">
                        <p th:if="${#fields.hasErrors('price')}" class="text-danger" th:errors="*{price}"></p>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="stock">Soup stock</label>
                        <input type="number" class="form-control" id="stock" name="stock" th:field="*{stock}" placeholder="Soup Stock">
                        <p th:if="${#fields.hasErrors('stock')}" class="text-danger" th:errors="*{stock}"></p>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="type">Soup Type</label>
                        <select class="form-control" id="type" name="type" th:field="*{type}">
                            <option value="">Select Soup Type</option> <!-- Add empty option -->
                            <option th:each="soupType : ${T(com.project.demo.models.SoupType).values()}"
                                    th:value="${soupType}" th:text="${soupType}"></option>
                        </select>
                        <p th:if="${#fields.hasErrors('type')}" class="text-danger" th:errors="*{type}"></p>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ingredient">Ingredients</label>
                        <input type="text" class="form-control" id="ingredient" placeholder="Enter ingredient">
                        <button type="button" class="btn btn-primary mt-2" id="addIngredientBtn">Add Ingredient</button>
                        <p id="ingredientError" class="text-danger"></p>
                        <label for="addedIngredients">Added Ingredients:</label>
                        <ul id="addedIngredients" class="list-group mt-2"></ul>
                        <!-- Hidden input field to store the ingredients -->
                        <input type="hidden" id="ingredientsField" name="ingredients" th:field="*{ingredients}">
                    </div>

                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
            <script th:inline="javascript">
                $(document).ready(function() {
                    $('#addIngredientBtn').click(function() {
                        var ingredient = $('#ingredient').val().trim();
                        if (ingredient === '') {
                            $('#ingredientError').text('Please enter an ingredient.');
                        } else {
                            $('#ingredientError').text('');
                            $('#addedIngredients').append('<li class="list-group-item">' + ingredient + '</li>');
                            $('#ingredient').val(''); // Clear the input field after adding

                            // Update the value of the hidden input field with the updated list of ingredients
                            var ingredients = $('#addedIngredients li').map(function() {
                                return $(this).text();
                            }).get().join(',');
                            $('#ingredientsField').val(ingredients);
                        }
                    });
                });
            </script>


        </div>
    </section>
</main>
</body>
</html>